*.sqlite3
js/dist
js/package-lock.json
js/node_modules
js/yarn.lock
__pycache__/
.env
tunnel
*.swp
nginx
static/*
*.jpeg
build/
*.so
*.c
*.sqlite
.mypy_cache
helpers/rust/rust_funcs.egg-info
helpers/rust/target
helpers/rust/debug
helpers/rust/Cargo.lock
venv
node_modules/.yarn-integrity
yarn.lock
