html{
  line-height: 1.15;
  --default-text-color: #bebebe;
  --alt-text-color: #989898;
  --disabled-text-color: #606060;

  --default-background-color: #282828;
  --alt-background-color: #383838;
  --off-background-color: #404040;
  --highlight-background-color: #b8b8b8;
  --img-background-color: #1e1e1e;

  --small-text-size: '0.8rem';

  --default-font: "Open Sans";
}

body {
 background-color: var(--default-background-color);
}

label {
  display:block;
}

label > input {
  display:block;
}

.pure-form input[type="text"] {
  background-color: transparent;
  box-shadow: none;
  border: 1px solid var(--alt-background-color);
  color: var(--default-text-color);
}

.pure-form select {
  height: 2.5em;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid var(--alt-background-color);
  color: var(--default-text-color);
}

.pure-button {
  color: var(--default-text-color);
  background-color: transparent;
}

.pure-button:hover,
.pure-button:focus{
  background-image: none;
  background-color: var(--background-text-color);
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--alt-background-color);
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 100%;
  border: 1px solid var(--alt-background-color);
  background-color: var(--default-background-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-height: 250px;
  overflow-y: auto;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: var(--alt-background-color);
}
